.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata
packrat/*
.Rprofile
packrat/lib*/
packrat/src/
data/cytoscape
data/cytoscape/*
figures/enrich-universe-simple
figures/enrich-universe-simple/*
figures/enrich
figures/enrich/*
data/pearson
data/pearson/*

